@import "styles/var";

.base {
  max-width: 600px;
  margin: 0 auto;
}


.header {
  padding: .5rem 0;
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  border-bottom: 1px solid $gray-300;
}

.main {
  margin: 1.5rem 0;
}
