@import "styles/var";

.placeholder {
  margin-bottom: 1rem;
  display: flex;
}

.cover {
  width: 150px;
  margin: 0;
  margin-right: 1rem;
  background-color: $gray-200;
  border-radius: $border-radius-lg;
  padding-bottom: 140%;
}

.main {
  flex: 1;
}
.placeholderLine {
  background-color: $gray-300;
  border-radius: $border-radius-lg;
  height: .9rem;
  margin-bottom: .8rem;
}

.line1 {
  max-width: 300px;
}

.line2 {
  max-width: 100px;
  width: calc(50%);
}

.line3 {
  max-width: 130px;
}
