@import "styles/var";

.placeholder {
  border: 1px solid $gray-200;
  border-radius: $border-radius-lg;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.cover {
  width: 150px;
  margin: 0;
  margin-right: 1rem;
  background-color: $gray-200;
  border-radius: $border-radius-lg;
  padding-bottom: calc(50% / 1.3);
}

.main {
  flex: 1;
}
.title, .year,.type {
  background-color: $gray-300;
  border-radius: $border-radius-lg;
  height: .9rem;
  margin-bottom: .8rem;
}

.title {
  max-width: 300px;
}

.year {
  max-width: 100px;
  width: calc(50%);
}

.type {
  max-width: 130px;
}
