@import "styles/var";

.movieItem {
  border: 1px solid $gray-200;
  border-radius: $border-radius-lg;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  transition: all .2s;
  &:hover {
    box-shadow: 0px .2rem 8px rgba(0,0,0,0.15);
  }
}

.mainInfo {
  flex: 1;
}

h1.title {
  font-size: 1.3rem;
  margin: 0;
  color: $gray-800;
}

.year {
  color: $gray-600;
  margin: 0;
}

.type {
  margin: 0;
}
