@import "styles/var";

.posterContainer {
  max-width: 150px;
  margin: 0;
  margin-right: 1rem;
  img {
    cursor: pointer;
    max-width: 100%;
  }
}

.noImage {
  width: 150px;
  background-color: $gray-200;
  padding-bottom: 140%;
  position: relative;
  &::after {
    content: 'No Image';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modalImage {
  width: 100%;
}
